@tailwind base;
@tailwind components;
@tailwind utilities;

@import './custom.css';

/* TABLE STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.table-wrapper {
    overflow-x: auto;
  }
  
  .table-wrapper::-webkit-scrollbar {
    height: 8px;
  }
  
  .table-wrapper::-webkit-scrollbar-thumb {
    background: var(--darkblue);
    border-radius: 40px;
  }
  
  .table-wrapper::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 40px;
  }
  
  .table-wrapper table {
    margin: 50px 0 20px;
    border-collapse: collapse;
    text-align: center;
  }
  
  .table-wrapper table th,
  .table-wrapper table td {
    padding: 10px;
    min-width: 75px;
  }
  
  .table-wrapper table th {
    color: var(--white);
    background: var(--darkblue);
  }
  
  .table-wrapper table tbody tr:nth-of-type(even) > * {
    background: var(--lightblue);
  }
  
  .table-wrapper table td:first-child {
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-gap: 10px;
    text-align: left;
  }
  
  .table-credits {
    font-size: 12px;
    margin-top: 10px;
  }
  

  .flex.items-center.space-x-4 {
    gap: 15px;
}


